@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap");

:root {
  --grayblue: hsl(237, 18%, 59%);
  --softred: hsl(345, 95%, 68%);
  --white: hsl(0, 0%, 100%);
  --darkblue: hsl(236, 21%, 26%);
  --verydarkblue: hsl(235, 16%, 14%);
  --darkblueblack: hsl(234, 17%, 12%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  color: var(--white);
  height: 100vh;
  width: 100%;
  background-color: var(--verydarkblue);
  background-image: url("./assets/bg-stars.svg");
  background-position: center;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.pattern-bottom {
  position: fixed;
  bottom: 0;
  background-image: url("./assets/pattern-hills.svg");
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 1rem;
}

li a {
  color: var(--grayblue);
  transition: color 0.3s linear;
}

li a:hover {
  color: var(--softred);
}

.title {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.flip-countdown {
  margin: 2rem 0 8rem 0 !important;
  font-family: "Red Hat Text", sans-serif !important;
}

.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__top {
  color: var(--softred) !important;
  opacity: 0.7 !important;
  background: var(--darkblue) !important;
}

.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__bottom {
  color: var(--softred) !important;
  background: var(--darkblue) !important;
}

.flip-countdown.size-medium .flip-countdown-piece .flip-countdown-title {
  text-align: center;
  width: 100%;
  font-size: 14px !important;
  color: var(--grayblue) !important;
  letter-spacing: 2px !important;
  padding-top: 1rem !important;
}

.flip-countdown
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec
  .card__top {
  border-bottom: 1px solid var(--darkblue) !important;
}

.flip-countdown.size-medium
  .flip-countdown-piece
  .flip-countdown-card
  .flip-countdown-card-sec {
  font-size: 60px !important;
}

.flip-countdown .flip-countdown-piece .flip-countdown-card {
  margin-right: 1rem !important;
}

/* mobile first */

/* desktop */

@media screen and (min-width: 1440px) {
}
